body {
  background-color: #A8A895;
  width: 100%;
  height: 100%;
  font-family: "Courier New", monospace;
  font-size: 20px;
}

footer{
background-color: #7D7D68;
}

ul.botNav {
  list-style-type: none;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 3px;
  background-color: #7D7D68;
  border: 2px solid black;
  text-align: center;
}

ul.botNav li {
  display: block;
}

ul.botNav li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.botNav li a:hover {
  background-color: #D3D3C2;
  color: #FFFFFF;
  width: 100%
}

img.notes{
  display: block;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #7D7D68;
}

img.keel{
  width:15%;
  border: 10px solid #7D7D68;
  margin: 10px;
}

img.meg{
  width:15%;
  border: 10px solid #7D7D68;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.middle{
  width: 15%;
  border: 10px solid #7D7D68;
  display:block;
  margin: 10px;
  float: right;
}

img.top{
  width: 50%;
  border: 10px solid #7D7D68;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.bot{
  width: 50%;
  border: 10px solid #7D7D68;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
