body {
  background-color: #A8A895;
  width: 75%;
  height: 100%;
  font-family: "Courier New", monospace;
  font-size: 20px;
  margin: auto;
}

footer{
background-color: #7D7D68;
}

 iframe {
  display: block;
  margin: 0 auto;
  border: 5px solid #7D7D68;
}

img.parapic {
  width: 25%;
  height: 10%;
  border: 5px solid #7D7D68;
  display: block;
}

img.toppic{
  width: 50%;
  height: 10%;
  border: 5px solid #7D7D68;
  display: block;
  margin: auto;
}

/*Footer links */

ul.footer {
  list-style-type: none;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 3px;
  background-color: #7D7D68;
  border: 2px solid black;
  text-align: center;
}

ul.footer li {
  display: block;
}

ul.footer li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.footer li a:hover {
  background-color: #D3D3C2;
  color: #FFFFFF;
  width: 100%
}
