#headImg{
  background-image: url("assets/comp.jpg");
  width: 100%;
  height: 100%;
}
#headLayer{
  background-color: rgba(248, 247, 216, 0.7);
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-family: "Courier New", monospace;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}


h3 {
  text-align: center;
  font-family: "Courier New", monospace;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}

body {
  background-color: #A8A895;
  width: 100%;
  height: 100%;
}

footer{
background-color: #7D7D68;
}

#introP{
  background-color: #D3D3C2;
  padding: 10px;
  font-family: "Courier New", monospace;
  font-size: 20px;
}

#headShot{
  background-color: #D3D3C2;
  padding: 10px;

}

.navBar ul {
  background-color: #7D7D68;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navBar ul li a {
  display: block;
  border: 2px outset;
  border-radius: .5em;
  padding: .75em 1em;
  margin: 1em;
}

ul.navBar li a:hover {
  background-color: #D3D3C2;
  color: #FFFFFF;
}

div.footerTop{
  padding:50px 0;
  float:left;
  width: 33%;
  height: 300px;
  background-color: #7D7D68;
  font-family: "Courier New", monospace;
  font-size: 30px;
  display: inline-block;
}

div.footerSocials{
padding:50px 0;
margin: 0 auto;
width: 33%;
height: 300px;
background-color:#7D7D68;
font-family: "Courier New", monospace;
font-size: 30px;
display: inline-block;
}

div.footerNav{
  padding:50px 0;
  float: right;
  width:33%;
  height:300px;
  background-color:#7D7D68;
  font-family: "Courier New", monospace;
  font-size:30px;
  display: inline-block;
}

ul.footer{
  list-style-type: none;
  display:block;
}

ul.footer li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.footer li a:hover {
  background-color: #D3D3C2;
  color: #FFFFFF;
}

img.meImage{
  float:right;
  margin-right: 100px;
  margin-top: 100px;
  width: 25%;
  border: 10px solid #7D7D68;
}

@media screen and (max-width: 900px){


  div.footerTop{
    width: 100%;
    background-color: #7D7D68;
    font-family: "Courier New", monospace;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
  }

  div.footerSocials{
  width: 100%;
  background-color:#7D7D68;
  font-family: "Courier New", monospace;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  }

  div.footerNav{
    width:100%;
    background-color:#7D7D68;
    font-family: "Courier New", monospace;
    font-size:30px;
    display: inline-block;
    vertical-align: top;
  }
  #introP,#headShot {
   width: 100%;
   display:inline-block;
   vertical-align: top;
}

#introP{
  background-color: #D3D3C2;
  padding: 5px;
  font-family: "Courier New", monospace;
  font-size: 15px;
  text-align: center;
}

#headShot{
  padding: 10px;
  float: left;
}

  img.meImage{
    width: 50%;
    border: 10px solid #7D7D68;
  }

  ul.navBar {
    list-style-type: none;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 3px;
    background-color: #7D7D68;
    border: 2px solid black;
    text-align: center;
  }

  ul.navBar li {
    display: block;
    text-align: center;
  }

  ul.navBar li a {
    display: block;
    color: #000000;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }
  #headImg{
    background-image: url("assets/comp.jpg");
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  #headLayer{
    background-color: rgba(248, 247, 216, 0.7);
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  #topIntro{
    text-align: center;
  }
}


}
